<div class="giscus-container">
    <script src="https://giscus.app/client.js"
            data-repo={{ site.giscus.data-repo }}
            data-repo-id={{ site.giscus.data-repo-id }}
            data-category={{ site.giscus.data-category }}
            data-category-id={{ site.giscus.data-category-id }}
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme={{ site.giscus.data-theme }}
            data-lang="en"
            crossorigin="anonymous"
            allow="clipboard-write; clipboard-read"
            async>
    </script>
</div>