---
layout: default
---
<div class="category-container">
  <h1>{{ page.title }}</h1>
  
  <!-- If the category is a child category, display parent -->
  {% if page.parent %}
    <p>This is a subcategory of: <a href="/{{ page.parent }}/">{{ page.parent }}</a></p>
  {% endif %}

  <!-- Display contents (whatever written after header) -->
  {{ content }}
  
  <!-- If category is the child of its parent, display posts in parent's category -->
  {% if page.parent %}
    <h2>Posts</h2>
    {% assign posts = site.categories[page.category] | where: "categories", page.parent %}
    {% if posts.size > 0 %}
      <ul>
        {% for post in posts %}
          <li>
            <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No posts yet! Please check back later.</p>
    {% endif %}
  {% else %}
    {% assign subcategories = site.category | where: "parent", page.category %}
    <!-- If current category has children, display the subcategories -->
    {% if subcategories.size > 0 %}
      <h2>Subcategories</h2>
      <ul class="subcategories">
        {% for subcategory in subcategories %}
          <li><a href="{{ subcategory.permalink }}">{{ subcategory.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  
    <!-- Display category posts -->
    <h2>Posts</h2>
    {% if site.categories[page.category].size > 0 %}
      <ul>
        {% for post in site.categories[page.category] %}
          <li>
            <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No posts yet! Please check back later.</p>
    {% endif %}
  {% endif %}
</div>